[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
lxml = "*"
pyyaml = "*"
dataclasses = "*"
urlextract = "*"
ipython = "*"
gensim = "*"
nltk = "*"
spacy = "*"
pt-core-news-sm = {file = "https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.1.0/pt_core_news_sm-2.1.0.tar.gz"}
es-core-news-sm = {file = "https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.1.0/es_core_news_sm-2.1.0.tar.gz"}
tensorflow = "==1.15.2"
keras = "==2.2.4"
matplotlib = "*"
seaborn = "*"
seqeval = "*"

[requires]
python_version = "3.6"
